# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# # Chargement de tous les fichiers (JS, CSS)
# RewriteRule ^(.*)\.(.*)$ /public/$1.$2 [L]

# # Redirection vers le répertoire public et le fichier index.php
# # Attention /!\ Penser à changer le SITE_BASE_URL dans le fichier .env !
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)$ /public/index.php
# </IfModule> 