@font-face 
{
    font-family: 'Baskerville';
    src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

$baskerville: 'Baskerville';
$raleway: 'Raleway';
$firstColor:#917237;
$secondColor: #ccc;