.Article
{
    padding-left:5%;
    padding-right:5%;
    padding-bottom:10%;
    padding-top:20px;

    &-title
    {
        font-family: $baskerville;
        font-size:24px;
        margin:20px 0px;
        font-weight: lighter;
    }

    &-description
    {
        font-weight: bold;
        margin:20px 0px;
    }

    &-category
    {
        margin-top:15px;
        margin-bottom:15px;
        

        &-link
        {
            text-decoration:none;
            color:$firstColor;
        }
    }

    &-boxImg
    {
        margin-top:20px;
        margin-bottom:20px;
        text-align: center;

        &-img
        {
            width:100%;
            
        }
    }

    &-content
    {
        margin-top:20px;
        margin-bottom:20px;
    }

    &-hr
    {
        margin-top:20px;
        margin-bottom:40px;
    }

    &-button
    {
        background-color: $firstColor;
        border: none;
        color: white;
        padding: 12px 32px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
        border:3px solid $firstColor;
        margin: 8px 0px;

        &:hover
        {
            background-color: white;
            color:$firstColor;
        }
    }
}