.Form
{
    width:60%;
    margin:20px 0px;
    margin-left:auto;
    margin-right:auto;

    &-component
    {
        display:flex;
        flex-direction: row;
        align-items: center;

        &-category
        {
            margin-top:10px;
            margin-bottom:10px;
        }

        &-file
        {
            display: inline-block;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            outline: none;
            border:none;

            &-buttonImg
            {
                padding: 12px 32px;
                margin: 8px 0px;
                margin-left:auto;
                margin-right:auto;
                background-color: $firstColor;
                color: white;
                border:none;
            } 

            input[type=file] 
            {
                left: 0;
                top: 0;
                opacity: 0;
                position: absolute;
                cursor: pointer;
            }
        }

        &-input
        {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 3px solid $secondColor;
            transition: 0.5s;
            outline: none;

            &:focus
            {
                border: 3px solid $firstColor;
            }
        }

        &-button
        {
            background-color: $firstColor;
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;
            border:3px solid $firstColor;
            padding: 12px 20px;
            margin: 8px 0;

            &:hover
            {
                background-color: white;
                color:$firstColor;
            }
        }

        
        &-select
        {
            padding: 12px 20px;
            background-color: $firstColor;
            color: white;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            outline: none;
            
            &-option
            {
                background-color: $firstColor;
                color: white;
            }


        }
    }

    &-button
    {
        background-color: $firstColor;
        border: none;
        color: white;
        padding: 12px 32px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
        border:3px solid $firstColor;
        margin: 8px 0px;

        &:hover
        {
            background-color: white;
            color:$firstColor;
        }
    }
}

#FormArticle
{
    width:80%;
}