.Page
{
    &-title
    {
        text-align: center;
        margin-top:10px;
        margin-bottom:10px;
        padding-top:15px;
        font-family: $raleway;
    }

    &-articles
    {
        margin-left:10%;
        margin-right:10%;

        &-article
        {
            margin-top:20px;
            margin-bottom:20px;

            &-title
            {
                margin-top:15px;
                margin-bottom:15px;
                font-family: $baskerville;
                font-weight: lighter;
                font-size: 20px;
                line-height: 35px;
            }

            &-link
            {
                display:block;
                text-decoration:none;
                color:black;
                transition-duration:1s;
                margin-top:15px;
                margin-bottom:15px;
                font-family: $baskerville;
                font-weight: lighter;
                font-size: 20px;
                line-height: 35px;

                &:hover
                {
                    color:$firstColor;
                    transition-duration:1s;
                }
            }

            &-author
            {
                margin-top:10px;
                margin-bottom:10px;
            }

            &-date
            {
                margin-top:10px;
                margin-bottom:10px;
            }

            &-description
            {
                line-height: 25px;
            }

            &-category
            {
                margin-top:15px;
                margin-bottom:15px;
                &-link
                {
                    text-decoration:none;
                    color:$firstColor;
                }
            }
        }
    }

    &-categories
    {
        margin-left:10%;
        margin-right:10%;

        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        &-category
        {
            &-title
            {

                font-family: $baskerville;
                font-weight: lighter;
                font-size: 20px;
                line-height: 35px;

                &-link
                {
                    display:block;
                    text-decoration:none;
                    color:black;
                    transition-duration:1s;
                    margin-top:5px;
                    margin-bottom:5px;
                    font-family: $raleway;
                    font-weight: lighter;
                    font-size: 20px;
                    line-height: 35px;
                    text-align: center;
    
                    &:hover
                    {
                        color:$firstColor;
                        transition-duration:1s;
                    }
                }
            }
            

        }
    }
}


@media screen AND (min-width: 1200px)
{
    .Page
    {
        margin-left:2%;
        margin-right:2%;

        &-articles
        {
     
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &-article
            {
                margin-top:0px;
                margin-bottom:0px;
                margin-left:20px;
                margin-right:20px;
                width:400px;

                &-link
                {
                    font-size: 24px;
                }
            }
        }

        &-categories
        {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            &-category
            {
                &-title
                {
                    &-link
                    {
                        width: 450px;
                        text-align: center;
                    }
                }
            }
        }
    }
}   